# =======================
# Install dependencies with:
#    python3 -m pip install -r requirements.txt
#
blinker
Bootstrap-Flask
click
colorama
Flask
Flask-CKEditor
Flask-Login
Flask-SQLAlchemy
Flask-Toastr
Flask-WTF
greenlet
itsdangerous
MarkupSafe
SQLAlchemy
typing_extensions
WTForms
Flask-Migrate
python-dotenv